table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 0.6rem;
}
 tbody tr.debit td{
    background-color: rgba(139, 243, 70, 0.781) !important;
 }

 tbody tr.credit td{
    background-color: rgba(228, 101, 92, 0.781) !important;
 }

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
.card{
    width: 17rem !important;
}
.card-text{
    font-size: 1rem !important;
}
@media (min-width: 768px) {
    td , th{
        font-size: 1rem ;
    }

    .card{
        width: 23rem !important;
    }
    .card-text{
        font-size: 1.5rem !important;
    }
}