<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/loansAplication.css">

  

  <title>Bank-Finance | Transaccions</title>
</head>

<body>
  <div id="app" class="containerIndex">
   
    <header class="maiin">
      <div>
        <div class="d-flex align-items-center justify-content-between bg-color flex-wrap">
          <img class="img-style " src="../imagenes/jennys_blanco_largo.png" alt="" />

          <div class="d-flex justify-content-center">
            <nav class="d-flex m-3" data-bs-theme="dark">
              <div>
                <a class="style-navbar text-light" href="./accounts.html">Accounts</a>
                <a class="style-navbar text-light" href="./cards.html">Card</a>
                <a class="style-navbar text-light" href="./loansAplication.html">Loans</a>
                <a class="style-navbar text-light" href="./transfer.html">Transactions</a>
                <a class="nav-link" style="color: white; font-size: 22px;"
                @click.prevent="signOut()"><i class="fas fa-sign-out-alt"></i>
            </a>
              </div>
            </nav>
  
          </div> 
  
    
        </div>
        <div class="d-flex justify-content-center">
           
        </div>
      </div>
      
    </header>

    <main>

      <!-- <form class="d-flex flex-column align-items-center justify-content-center contenedor-form">
        {{metodo}}
        {{typeloan}}
        {{capturarValorCuota}}
        {{maxAmount}}
  
        <h6>Select Loan:</h6>
        <select @click="loans()" v-model="TypeLoan">
            <option v-for="loan of loansAvailable" :value="loan">{{loan.name}}</option>
        </select>
  
        <label for="amount">Amount<span class="text-danger">*</span></label>
        <input type="text" id="amount" name="amount" v-model="amount">
  
        <h6>Source account</h6>
        <select @click="accounts()" v-model="accountTransfer">
            <option v-for="account in accountsOwn" :value="account">{{account}}</option>
        </select>
  
        <h6>Payments</h6>
        <select v-model="payments">
            <template v-for="cuota of loansAvailableCoutas">
                <option :value="cuota">{{cuota}}</option>
            </template>
        </select>
        <span style="color: rgb(255, 0, 0);">{{advertencia}}</span>
        <span>{{calculateQuota}}</span>
        <button class="botonsend" @click.prevent="newloan()">Apply</button>
    </form> -->

    <h1 class="mt-4 d-flex justify-content-center" >Loan Application</h1>
<form class="d-flex flex-column align-items-center justify-content-center contenedor-form">
  {{metodo}}
  {{typeloan}}
  {{capturarValorCuota}}
  {{maxAmount}}

  <div class="form-group">
    <label for="loanType">Select Loan:</label>
    <select class="form-control" @click="loans()" v-model="TypeLoan" id="loanType">
      <option v-for="loan of loansAvailable" :value="loan">{{loan.name}}(Max amount: ${{loan.maxAmount}} - interest: {{(loan.percentageInterest * 100)}} %</option>
    </select>
  </div>

  <div class="form-group">
    <label for="amount">Amount<span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="amount" name="amount" v-model="amount">
  </div>

  <div class="form-group">
    <label for="sourceAccount">Source account</label>
    <select class="form-control" @click="accounts()" v-model="accountTransfer" id="sourceAccount">
      <option v-for="account in accountsOwn" :value="account">{{account}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="payments">Payments</label>
    <select class="form-control" v-model="payments" id="payments">
      <template v-for="cuota of loansAvailableCoutas">
        <option :value="cuota">{{cuota}}</option>
      </template>
    </select>
    <span style="color: rgb(255, 0, 0);">{{advertencia}}</span>
    <span>{{calculateQuota}}</span>
  </div>

  <button class="btn btn-primary d-flex gap-5" @click.prevent="newloan()">Apply</button>
</form>

    </main>
   
   

  <footer class="foter">
    <nav
    class="navbar bg-color2  bg-opacity-75 border-bottom border-body d-flex justify-content-center"
      data-bs-theme="dark"
    >
    <div>
      <div class="style-margin d-flex justify-content-center ">
        <img class="img-footer " src="../imagenes/jennys_blanco.png" alt="" />
      </div>
      <div class="style-margin  d-flex justify-content-center ">
        <a href="#"><img class="style-redes" src="../imagenes/facebook.png" alt=""></a>
        <a href="#"><img class="style-redes" src="../imagenes/instagram.png" alt=""></a>
        <a href="#"><img class="style-redes" src="../imagenes/wsp.png" alt=""></a>
        <a href="#"><img class="style-redes" src="../imagenes/linkedin.png" alt=""></a>
    </div>

      <div>
        <p class="text-light  d-flex justify-content-center " style="padding: 1rem; text-align: center;">2023 All rights reserved By: Jennis guzman Martinez (COHORT 51)</p>
    </div>
  </div>
    </nav>

</footer>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="text/JavaScript" src="https://momentjs.com/downloads/moment.js"></script>
  <script src="../js/loansAplicaction.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>