<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/login.css">

    <title>Login</title>
</head>

<body>
    <div id="app" class="containerIndex">
        <header class="maiin">
            <div>
              <div class="d-flex align-items-center justify-content-between bg-color flex-wrap">
                <img class="img-style " src="../imagenes/jennys_blanco_largo.png" alt="" />
      
                <div class="d-flex justify-content-center">
                  <nav class="d-flex m-3" data-bs-theme="dark">
                    <div>
                      <a class="style-navbar text-light" href="./accounts.html">Accounts</a>
                      <a class="style-navbar text-light" href="./cards.html">Card</a>
                      <a class="style-navbar text-light" href="./loansAplication.html">Loans</a>
                      <a class="style-navbar text-light" href="./transfer.html">Transactions</a>
                      <!-- <a class="nav-link" style="color: white; font-size: 22px;"
                      @click.prevent="signOut()"><i class="fas fa-sign-out-alt"></i> -->
                  </a>
                    </div>
                  </nav>
        
                </div> 
        
          
              </div>
              <div class="d-flex justify-content-center">
                 
              </div>
            </div>
            
          </header>
        <main id="app" class="d-flex justify-content-center align-items-center flex-wrap" >
          <img src="../imagenes/20943389-PhotoRoom.png-PhotoRoom.png" style="width: 35rem;" alt="">
            <form class="d-flex justify-content-center align-items-center flex-column m-4" style="background-color: #044575; color: white; padding: 3rem; border: solid 2px; border-radius: 8px; gap: 2rem;">
              <h3>Log in here!</h3>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        v-model="loginEmail">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" v-model="loginPassword">
                </div>
                <div class="d-flex gap-5 align-items-center justify-content-center">
                    <button type="buttom" @click.prevent="login()" class="btn botom" style="color: black; background-color: white; border-radius: 1rem; padding: 0.5rem;">Login</button >
                    <button type="buttom" class=" btn botom-register"> <a href="./register.html" style="text-decoration: none; color: black; background-color: white;border-radius: 1rem;padding: 0.5rem;" >Register</a></button>
               
                </div>
                
            </form>
        
           </main>

           <footer class="foter">
            <nav
            class="navbar bg-color2  bg-opacity-75 border-bottom border-body d-flex justify-content-center"
              data-bs-theme="dark"
            >
            <div>
              <div class="style-margin d-flex justify-content-center ">
                <img class="img-footer " src="../imagenes/jennys_blanco.png" alt="" />
              </div >
              <div class="style-margin  d-flex justify-content-center flex-wrap">
                <a href="#"><img class="style-redes" src="../imagenes/facebook.png" alt=""></a>
                <a href="#"><img class="style-redes" src="../imagenes/instagram.png" alt=""></a>
                <a href="#"><img class="style-redes" src="../imagenes/wsp.png" alt=""></a>
                <a href="#"><img class="style-redes" src="../imagenes/linkedin.png" alt=""></a>
            </div>
        
              <div>
                <p class="text-light  d-flex justify-content-center " style="padding: 1rem; text-align: center;">2023 All rights reserved By:Jennis guzman Martinez  (COHORT 51)</p>
            </div>
          </div>
            </nav>
        
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../js/login.js"></script>
</body>